/*

!/.gitignore
!/.vscodeignore
!/LICENSE
!/README.md
!/package.json
!/package-lock.json
!/tsconfig.json
!/tsconfig.test.json
!/.prettierrc
!/.prettierrc.*

!/src/
!/src/**/*.ts

!/test/
!/test/**/*.ts
!/test/fixtures/
!/test/fixtures/*.jade

!/assets/
!/assets/*.png

!/.vscode/
!/.vscode/*.json
