/*

!/.gitignore
!/.vscodeignore
!/LICENSE
!/README.md
!/package.json
!/package-lock.json
!/tsconfig.json
!/.prettierrc
!/.prettierrc.*

!/src/
!/src/**/*.ts

!/assets/
!/assets/*.png

!/.vscode/
!/.vscode/*.json
